@use "../../../styles/variables.scss" as var;


.profile{
    
    margin-top: 100px;
    margin-left: auto;  
    margin-right: auto; 
    height: 300px;
    width: 80%; 

    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 10px;
    background-color: rgb(234, 234, 236);

    .profile-image {
        width: 180px;   
        height: 150px;   
        object-fit: cover; 
        border-radius: 50%; 
        border: 3px solid #fff;
        margin-top: -50px;
        border: 3px solid var.$secondary-color;
        background-color: var.$primary-color;   
    }

    .main-information{
        height: 200px;
        width: 100%;
        margin-left: 50px;
        margin-right: 20px;

        #nome{
            font-size: x-large;
        }
        .information{
            color: black;
            font-weight: bold;
        }
        .person-info {
            display: flex;        
            gap: 30px;            
            align-items: center;  
        }

        .item {
            display: flex;
            flex-direction: column; // Mantém o "E-mail" em cima e o dado embaixo
        
            .title {
                font-weight: bold;
                font-size: 0.8rem;
                color: gray;
            }
        }

        .person-actions{


            margin-top: 20px;
            
            .actions{
                border-radius: 10px;
                height: 50px;
                border: 3px solid var.$secondary-color;
                background-color: var.$primary-color;
                color: var.$secondary-text-color;
                font-size: larger;
                &:hover{
                    background-color: var.$secondary-color;
                    cursor: pointer;
                }
            }
            #edit{
                margin-right: 10px;
            }
            #logout{
                margin-left: 10px;
            }
        }

        
    }


}
.others{
    margin-left: auto;  
    margin-right: auto; 
    height: 80px;
    width: 80%; 

    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 10px;
}

.additional-information{
    margin-left: auto;  
    margin-right: auto; 
    height: 100px;
    width: 80%; 

    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 10px;
    background-color: rgb(234, 234, 236);

    .info{
        display: flex;        
        gap: 30px;            
        align-items: center;
    }
}