$primary-color: #5dbe6d;
$text-color: rgb(66, 65, 65);
$secondary-text-color: rgb(255, 255, 255);
$secondary-color: #266b2f;
$terciary-color: #dadada;
$bg-color: #ffff;

$assistant-primary-color: #1a1a2e;
$assistant-selected-color: rgb(121, 31, 174);