<app-header></app-header>

<div class="container mt-4">
    
    @for (medic of medicsFiltered; track $index) {
        
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>CRM</th>
                    <th>Especialidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
    
            <tbody>
                @for (medic of medics | filter:searchText; track $index) {
                    <tr>
                        <td>{{medic.name}}</td>
                        <td>{{medic.email}}</td>
                        <td>{{medic.crm}}</td>
                        <td>{{medic.medicalSpeciality}}</td>
                        <td>
                            <button class="btn btn-sm btn-primary">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }


</div>