<app-default-login-layout
    title="Atualizar Senha"
    primaryBtnText="Salvar Nova Senha"
    (submit)="submit()"
    [disablePrimaryBtn]="!passwordForm.valid"
>
    <form [formGroup]="passwordForm">
        <app-primary-input
            formControlName="newPassword"
            type="password"
            label="Nova Senha"
            placeholder="Digite sua nova senha"
        ></app-primary-input>
        
        <app-primary-input
            formControlName="confirmPassword"
            type="password"
            label="Confirme a Senha"
            placeholder="Repita a nova senha"
        ></app-primary-input>
    </form>
</app-default-login-layout>